.download-overview-card {
  .icon-circle-download {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    transform: translateY(-2px);
  }
  .table {
    tbody {
      tr {
        > td:first-child {
          width: 75%;
          word-break: break-all;
        }
        > td:last-child {
          width: 25%;
        }
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .download-overview-card {
    .table {
      tbody {
        tr {
          > td:first-child {
            width: 60%;
          }
          > td:last-child {
            width: 40%;
          }
        }
      }
    }
  }
}