{% block sysea_download_detail %}
    <sw-page class="sysea-download-detail">
        <template slot="smart-bar-actions">
            <sw-button :routerLink="{ name: 'sysea.download.list' }">
                {{ $t('sysea-download.detail.cancelButtonText') }}
            </sw-button>
            <sw-button-process
                    :isLoading="isLoading"
                    :processSuccess="processSuccess"
                    :disabled="disabled"
                    variant="primary"
                    @process-finish="saveFinish"
                    @click="onClickSave">
                {{ $t('sysea-download.detail.saveButtonText') }}
            </sw-button-process>
        </template>
        <template #language-switch>
            <sw-language-switch
                    :disabled="languageDisabled"
                    @on-change="onChangeLanguage">
            </sw-language-switch>
        </template>
        <template slot="content">
            {% block sysea_download_detail_content %}
                <sw-card-view>
                    <sw-card v-if="download">

                        <sw-field
                                :label="$t('sysea-download.detail.nameLabel')"
                                :helpText="$tc('sysea-download.general.helpTextMenuName')"
                                v-model="download.name"
                                validation="required"
                                @keydown.up="checkIfFilled"
                                @change="checkIfFilled"
                                required>
                        </sw-field>

                        <sw-field
                                :label="$t('sysea-download.detail.customerGroups')"
                                :helpText="$tc('sysea-download.general.helpTextCustomerGroups')"
                                v-model="download.customerGroups">
                        </sw-field>

                        <div class="sw-product-media-form">
                            {% block sysea_download_media_form_upload %}
                                <sw-media-list-selection-v2
                                        :entityMediaItems="download.medias"
                                        :entity="download"
                                        :uploadTag="download.id"
                                        :defaultFolder="download.getEntityName()"
                                        @upload-finish="successfulUpload"
                                        @item-remove="onItemRemove"
                                        @open-sidebar="openMediaSidebar">
                                </sw-media-list-selection-v2>
                            {% endblock %}
                        </div>
                    </sw-card>
                </sw-card-view>
            {% endblock %}
        </template>
        <template #sidebar>
            <sw-sidebar :propagateWidth="true">
                <sw-sidebar-media-item ref="mediaSidebarItem">
                    <template slot="context-menu-items" slot-scope="media">
                        <sw-context-menu-item @click="onAddItemToDownload(media.mediaItem)">
                            {{ $tc('sysea-download.detail.addToDownload') }}
                        </sw-context-menu-item>
                    </template>
                </sw-sidebar-media-item>
            </sw-sidebar>
        </template>

    </sw-page>
{% endblock %}
