{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    <div class="account-profile">
        <div class="account-welcome">
            <h1>{{ page.huebert_active }}</h1>
        </div>
        <div class="download-overview-card mt-5">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        Downloads
                    </h2>
                    <table class="table table-striped order-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for huebertDownloadEntity in page.huebertDownloadEntities.elements %}
                            <tr>
                                <td>{{ huebertDownloadEntity.fileName }}.{{ huebertDownloadEntity.fileExtension }}</td>
                                <td><a target="_blank" href="{{ huebertDownloadEntity.url }}" download>{% sw_icon 'circle-download' %} Download </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
