{% block sysea_download_list %}
    <sw-page class="sysea-download-list">
        <template slot="smart-bar-actions">
            <sw-button
                    variant="primary"
                    :routerLink="{ name: 'sysea.download.create' }"
                    :isLoading="isLoading">
                {{ $t('sysea-download.general.create') }}
            </sw-button>
        </template>
        <template #language-switch>
            <sw-language-switch
                    @on-change="onChangeLanguage">
            </sw-language-switch>
        </template>
        <template slot="content">
            {% block sysea_download_list_content %}
                <sw-entity-listing
                        v-if="download"
                        :items="download"
                        :repository="repository"
                        :showSelection="false"
                        :columns="columns"
                        detailRoute="sysea.download.detail">
                </sw-entity-listing>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}