{% sw_extends "@Storefront/storefront/page/account/sidebar.html.twig" %}

{% block page_account_sidebar_footer %}
    {% if context.customer %}
        {% if not context.customer.guest and not headerWidget %}
            {% if page.huebert_downloads %}
                <div class="card-footer account-aside-footer account-aside-header account-aside-downloads">
                    Downloads
                </div>
                <div class="list-group list-group-flush account-aside-list-group">
                    {% for download in page.huebert_downloads %}
                        <a href="{{ path('frontend.download.page', {'name': download}) }}" title="{{ download }} downloads" class="list-group-item list-group-item-action account-aside-item {% if activeRoute is same as('frontend.download.page') %}{% if page.huebert_active is same as(download) %}is-active{% endif %}{% endif %}">
                            {{ download }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}